<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAX RETURN CLAIMS</title>
  </head>
  <body>
    <h1>ALL TAX RETURNS</h1>
    <a href="/taxes/new">Create a new Tax Return Request</a>

  </body>
</html>
