<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
     <a href="/taxes/new">Create a new Tax Return Request</a>
    <title>TAX RETURN CLAIMS</title>
  </head>  
  <body>
    <h1>All Tax Returns</h1>
    <ul>
        <% taxes.forEach(tax => { %>
        <li>
          <a href="/taxes/<%= tax._id %>"><%= tax.name %> - <%= tax._id %></a>
        <% }); %>
      </ul>
    </body>
    

  </body>
</html>
