
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Request</title>
</head>
<body >
    <a href="/taxes/">Back to Claim Page</a>
        <h1>  Create a Tax Return Request</h1>
        <form action="/taxes" method="POST">
            <label for="name">Request:</label>
            <input type="text" name="name" id="name" />
        
            <label for="isPrepared_personal"> Personal </label>
            <input type="checkbox" name="isPrepared_personal" id="isPrepared_personal" />

            <label for="isPrepared_family"> Family </label>
            <input type="checkbox" name="isPrepared_family" id="isPrepared_family" />
        
            <button type="submit">Add Request </button>
          </form>
        </body>
</body>
</html>