<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= tax.name %></title>
  </head>
  <body>
    <a href="/taxes/">Return to Claim Page</a>
    <h1> <%= tax.name  %>  </h1> <% 
    if(tax.isPrepared_personal){  %>
      <p>Personal Tax Return Request is fufilled</p>
      <% 
    } else if(tax.isPrepared_family){
     %> 
        <p>Family Tax Return Request is fufilled</p>
        <%
    } else {
        %>
      <p>Personal Tax Return Request is not fufilled</p>
      <%   }  %>
    <form action="/taxes/<%= tax._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    
  </body>
</html>
